.stockSearch{ 
    margin: auto;
    padding: 20px;
    display: flex;
    background-color: #f1f1f1;
    justify-content: center;
}
form{
    display: inline-block;
    padding-left: 50px;
}
input, select, button{
    border: 1px transparent #f1f1f1;
    font-size: 16px;
    padding: 5px;
    margin-right: 20px;
}
.dashboard{
    display: flex;
   justify-content: space-around;
}
.graph{
    width: 700px;
    height: 500px;
}
.checkBox{
    margin: 10px;
    font-size: 16px;
}

